apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sm-operator.fullname" . }}-controller-manager
  labels:
    app.kubernetes.io/component: manager
    control-plane: controller-manager
    {{- include "sm-operator.fullLabels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.settings.replicas }}
  selector:
    matchLabels:
      control-plane: controller-manager
    {{- include "sm-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: controller-manager
      {{- include "sm-operator.fullLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
                    - arm64
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
      {{- with .Values.containers.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.containers.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.containers.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.containers.imagePullSecrets }}
      {{- end }}
      containers:      
      - args:
          - --health-probe-bind-address=:8081
          - --metrics-bind-address=127.0.0.1:8080
          - --leader-elect
        command:
        - /manager
        envFrom:
        - configMapRef:
            name: {{ include "sm-operator.configmap" . }}
        image: {{ .Values.containers.manager.image.repository }}:{{ .Values.containers.manager.image.tag | default .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
        resources: {{- toYaml .Values.containers.manager.resources | nindent 10
          }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
        {{- if .Values.containers.enableSeccompProfileRuntimeDefault }}
        seccompProfile:
          type: RuntimeDefault
        {{- end }}
      serviceAccountName: {{ include "sm-operator.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: {{ .Values.containers.manager.terminationGracePeriodSeconds }}
