---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-cleanup"
  labels:
    app.kubernetes.io/component: post-delete-hook
{{ include "bitwarden.labels" . | indent 4 }}
{{- with .Values.job.cleanup.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  annotations:
    "helm.sh/hook": post-delete
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
{{- include "bitwarden.annotations" . | indent 4 }}
{{- with .Values.job.cleanup.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}-cleanup"
      labels:
        app.kubernetes.io/component: post-delete-hook
{{ include "bitwarden.podLabels" . | indent 8 }}
{{- with .Values.job.cleanup.podLabels }}
{{ toYaml . | indent 8 }}
{{- end }}
      annotations:
{{- include "bitwarden.podAnnotations" . | indent 8 }}
{{- with .Values.job.cleanup.podAnnotations }}
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
    {{- if .Values.serviceAccount.name }}
      serviceAccountName: "{{ .Values.serviceAccount.name }}"
    {{- end }}
      containers:
      - name: delete-resources
        command: [
          "/bin/sh", "-c"
        ]
        args: ['
          kubectl delete configmap {{ .Release.Name }}-config-map -n {{ .Release.Namespace }};
          kubectl delete configmap {{ .Release.Name }}-config-map-web -n {{ .Release.Namespace }};
          {{- if .Values.database.enabled }}
          kubectl delete secret "{{ .Release.Name }}-sql-connection-string" -n {{ .Release.Namespace }};
          {{- end }}
          kubectl delete secret {{ .Release.Name }}-identity-cert -n {{ .Release.Namespace }};
          kubectl delete secret {{ .Release.Name }}-identity-cert-password  -n {{ .Release.Namespace }};
          kubectl delete job {{ .Release.Name }}-setup;
          kubectl delete job {{ .Release.Name }}-migrator;
          echo "Done"
        ']
        image: "{{ .Values.supportComponents.kubectl.image.name }}:{{ .Values.supportComponents.kubectl.image.tag }}"
      restartPolicy: Never
