---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-migrator"
  labels:
    app.kubernetes.io/component: post-install-db-migrator-job
{{ include "bitwarden.labels" . | indent 4 }}
{{- with .Values.jobs.db.postInstallMigrator.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
{{- include "bitwarden.annotations" . | indent 4 }}
{{- with .Values.jobs.db.postInstallMigrator.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}-migrator"
      labels:
        app.kubernetes.io/component: post-install-db-migrator-job
{{ include "bitwarden.podLabels" . | indent 8 }}
{{- with .Values.jobs.db.postInstallMigrator.podLabels }}
{{ toYaml . | indent 8 }}
{{- end }}
      annotations:
{{- include "bitwarden.podAnnotations" . | indent 8 }}
{{- with .Values.jobs.db.postInstallMigrator.podAnnotations }}
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
    {{- with .Values.general.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.general.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      {{- if .Values.serviceAccount.name }}
      serviceAccountName: "{{ .Values.serviceAccount.name }}"
      {{- end }}
    {{- if .Values.jobs.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.jobs.podSecurityContext | nindent 8 }}
    {{- end }}
      initContainers:
      - name: wait-for-db
        command:
          - "/bin/bash"
          - "-c"
        {{- if .Values.database.enabled }}
        args: ['
          while [[ $(kubectl get pods -n {{ .Release.Namespace }} -l app={{ template "bitwarden.mssql" . }} -o jsonpath="{.items[*].status.containerStatuses[*].ready}") != "true" ]]; do sleep 1; done

          echo "SQL Ready!"

          while [[ $(kubectl get pods -n {{ .Release.Namespace }} -l app={{ template "bitwarden.admin" . }} -o jsonpath="{.items[*].status.containerStatuses[*].ready}") != "true" ]]; do sleep 1; done

          echo "Admin Ready!"

          while [ ! -f /db/vault.mdf ]; do sleep 1; done

          echo "DB Ready!"
        ']
        {{- else }}
        args: ['
          while [[ $(kubectl get pods -n {{ .Release.Namespace }} -l app={{ template "bitwarden.admin" . }} -o jsonpath="{.items[*].status.containerStatuses[*].ready}") != "true" ]]; do sleep 1; done

          echo "Admin Ready!"
        ']
        {{- end }}
        image: "{{ .Values.supportComponents.kubectl.image.repository | default .Values.supportComponents.kubectl.image.name }}:{{ .Values.supportComponents.kubectl.image.tag }}"
        {{- if .Values.jobs.securityContext }}
        securityContext:
          {{- toYaml .Values.jobs.securityContext | nindent 10 }}
        {{- end }}
        volumeMounts:
          {{- if .Values.database.enabled }}
          - name: mssql-data
            mountPath: /db
          {{- end }}
      containers:
      - name: migrate-db
        env:
        - name: MSSQL_CONN_STRING
          valueFrom:
            secretKeyRef:
              {{- if .Values.database.enabled }}
              name: {{ .Release.Name }}-sql-connection-string
              {{- else }}
              name: {{ .Values.secrets.secretName | quote }}
              {{- end }}
              key: globalSettings__sqlServer__connectionString
        - name: DOTNET_BUNDLE_EXTRACT_BASE_DIR
          value: /migrator
        image: "{{ .Values.supportComponents.dbMigrator.image.repository | default .Values.supportComponents.dbMigrator.image.name }}:{{ .Values.supportComponents.dbMigrator.image.tag | default .Values.general.coreVersionOverride | default (include "bitwarden.coreVersionDefault" nil) }}"
        {{- if .Values.jobs.securityContext }}
        securityContext:
          {{- toYaml .Values.jobs.securityContext | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: migrator-extract-dir
          mountPath: "/migrator"
        {{- if .Values.secrets.secretProviderClass }}
        - name: secrets-store-inline
          mountPath: "/mnt/secrets-store"
          readOnly: true
        {{- end }}
        {{- if or ( not .Values.database.enabled ) ( and .Values.database.enabled .Release.IsUpgrade ) }}
        args: [ "-f", "DbScripts_transition", "-r"]
        {{- end }}
      restartPolicy: Never
      volumes:
        - name: migrator-extract-dir
          emptyDir: {}
        {{- if .Values.database.enabled }}
        - name: mssql-data
          persistentVolumeClaim:
            claimName: {{ default ( include "bitwarden.mssqlData" . ) .Values.database.volume.data.existingClaim }}
        {{- end }}
        {{- if .Values.secrets.secretProviderClass }}
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Values.secrets.secretProviderClass }}
        {{- end }}
