---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "bitwarden.keyssecret" . }}
  namespace: {{ .Release.Namespace }}
data:
{{- $currentGeneratedSecret := (lookup "v1" "Secret" .Release.Namespace (include "bitwarden.keyssecret" . )) }}
{{- if $currentGeneratedSecret}}
  globalSettings__internalIdentityKey: {{ index $currentGeneratedSecret.data "globalSettings__internalIdentityKey"}}
  globalSettings__oidcIdentityClientKey: {{ index $currentGeneratedSecret.data "globalSettings__oidcIdentityClientKey"}}
  globalSettings__duo__aKey: {{ index $currentGeneratedSecret.data "globalSettings__duo__aKey"}}
{{- else}}
  globalSettings__internalIdentityKey: {{ (randAlphaNum 64) | b64enc | quote }}
  globalSettings__oidcIdentityClientKey: {{ (randAlphaNum 64) | b64enc | quote }}
  globalSettings__duo__aKey: {{ (randAlphaNum 64) | b64enc | quote }}
{{- end }}
