{{- range .Values.rawManifests.preInstall }}
{{- $manifest := include "bitwarden.labels" $ | fromYaml | dict "labels" | dict "metadata" | mergeOverwrite . }}
{{- $manifest := include "bitwarden.annotations" $ | fromYaml | dict "annotations" | dict "metadata" | mergeOverwrite . }}
{{- $manifest := include "bitwarden.rawPreInstallAnnotations" $ | fromYaml | dict "annotations" | mergeOverwrite $manifest }}
{{- toYaml $manifest }}
---
{{- end }}
