---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config-map
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    {{- if .Values.argoCDSupport }}
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "-2"
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    {{ end }}
data:
  ACCEPT_EULA: "Y"
  MSSQL_PID: "Express"
  ASPNETCORE_ENVIRONMENT: "Production"
  globalSettings__selfHosted: "true"
  globalSettings__baseServiceUri__vault: "https://{{ .Values.general.domain }}"
  globalSettings__baseServiceUri__api: "https://{{ .Values.general.domain }}/api"
  globalSettings__baseServiceUri__identity: "https://{{ .Values.general.domain }}/identity"
  globalSettings__baseServiceUri__admin: "https://{{ .Values.general.domain }}/admin"
  globalSettings__baseServiceUri__notifications: "https://{{ .Values.general.domain }}/notifications"
  globalSettings__baseServiceUri__sso: "https://{{ .Values.general.domain }}/sso"
  globalSettings__baseServiceUri__internalNotifications: "http://{{ template "bitwarden.notifications" . }}:5000"
  globalSettings__baseServiceUri__internalAdmin: "http://{{ template "bitwarden.admin" . }}:5000"
  globalSettings__baseServiceUri__internalIdentity: "http://{{ template "bitwarden.identity" . }}:5000"
  globalSettings__baseServiceUri__internalApi: "http://{{ template "bitwarden.api" . }}:5000"
  globalSettings__baseServiceUri__internalVault: "http://{{ template "bitwarden.web" . }}:5000"
  globalSettings__baseServiceUri__internalSso: "http://{{ template "bitwarden.sso" . }}:5000"
  globalSettings__baseServiceUri__internalScim: "http://{{ template "bitwarden.scim" . }}:5000"
  globalSettings__attachment__baseDirectory: "/etc/bitwarden/core/attachments"
  globalSettings__attachment__baseUrl: "https://{{ .Values.general.domain }}/attachments"
  globalSettings__send__baseDirectory: "/etc/bitwarden/core/attachments/sendfiles"
  globalSettings__send__baseUrl: "https://{{ .Values.general.domain }}/attachments/sendfiles"
  globalSettings__mail__replyToEmail: "{{ .Values.general.email.replyToEmail }}"
  globalSettings__mail__smtp__host: "{{ .Values.general.email.smtpHost }}"
  globalSettings__mail__smtp__port: "{{ .Values.general.email.smtpPort }}"
  globalSettings__mail__smtp__ssl: "{{ .Values.general.email.smtpSsl }}"
{{- if not (and .Values.volume.logs .Values.volume.logs.enabled) }}
  globalSettings__logDirectory: "/dev/null"
{{- end }}
  globalSettings__logRollBySizeLimit: ""
  globalSettings__syslog__destination: ""
  globalSettings__dataProtection__directory: "/etc/bitwarden/core/aspnet-dataprotection"
  globalSettings__licenseDirectory: "/etc/bitwarden/core/licenses"
  globalSettings__disableUserRegistration: {{ .Values.general.disableUserRegistration | quote }}
  globalSettings__enableCloudCommunication: {{ .Values.general.enableCloudCommunication | quote }}
  globalSettings__baseServiceUri__cloudRegion: {{ .Values.general.cloudRegion }}
{{- if eq .Values.general.cloudRegion "EU" }}
  globalSettings__installation__identityUri: {{ .Values.general.cloudIdentityUri | quote | default "https://identity.bitwarden.eu" }}
  globalSettings__installation__apiUri: {{ .Values.general.cloudApiUri | quote | default "https://api.bitwarden.eu" }}
  globalSettings__pushRelayBaseUri: {{ .Values.general.cloudPushRelayBaseUri | quote | default "https://push.bitwarden.eu" }}
{{- else }}
  {{- if .Values.general.cloudIdentityUri }}
  globalSettings__installation__identityUri: {{ .Values.general.cloudIdentityApiUri | quote }}
  {{- end }}
  {{- if .Values.general.cloudApiUri }}
  globalSettings__installation__apiUri: {{ .Values.general.cloudApiUri | quote }}
  {{- end }}
  globalSettings__pushRelayBaseUri: {{ .Values.general.cloudPushRelayBaseUri | quote | default "https://push.bitwarden.com" }}
{{- end }}
  adminSettings__admins: {{ .Values.general.admins | quote }}
  LOCAL_UID: "1000"
  LOCAL_GID: "1000"
  GITHUB_PR_ID: {{ .Values.github.prId | quote }}
  GITHUB_OWNER: {{ .Values.github.owner | quote }}
  GITHUB_PROJECT: {{ .Values.github.project | quote }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config-map-web
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "1"
    {{- if .Values.argoCDSupport }}
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    {{ end }}
data:
  app-id.json: |-
    {
      "trustedFacets": [
        {
          "version": {
            "major": 1,
            "minor": 0
          },
          "ids": [
            "https://{{ .Values.general.domain }}",
            "ios:bundle-id:com.8bit.bitwarden",
            "android:apk-key-hash:dUGFzUzf3lmHSLBDBIv+WaFyZMI"
          ]
        }
      ]
    }

---
{{- if .Values.component.keyConnector.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config-map-key-connector
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "1"
    {{- if .Values.argoCDSupport }}
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    {{ end }}
data:
  keyConnectorSettings__webVaultUri: "https://{{ .Values.general.domain }}"
  keyConnectorSettings__identityServerUri: "http://{{ template "bitwarden.identity" . }}:5000"
  keyConnectorSettings__database__provider: {{ .Values.component.keyConnector.config.databaseProvider }}
  {{- if eq .Values.component.keyConnector.config.databaseProvider "json" }}
  keyConnectorSettings__database__jsonFilePath: "/etc/bitwarden/data.json"
  {{- end }}
  keyConnectorSettings__rsaKey__provider: {{ .Values.component.keyConnector.config.rsaKeyProvider }}
  keyConnectorSettings__certificate__provider: {{ .Values.component.keyConnector.config.certificateProvider}}
  {{- if eq .Values.component.keyConnector.config.certificateProvider "filesystem" }}
  keyConnectorSettings__certificate__filesystemPath: "/etc/bitwarden/bwkc.pfx"
  {{- end }}
{{- end }}
