name: Lint Chart (Common)

on:
  workflow_call:
    inputs:
      chart_name:
        description: 'Name of the chart to lint'
        required: true
        type: string

permissions:
  contents: read

env:
  _CHART_PATH: charts/${{ inputs.chart_name }}

jobs:
  lint:
    name: Lint Helm chart
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Helm
        uses: Azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: 'v3.19.0'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
        env:
          CT_CHECK_VERSION_INCREMENT: false
          _DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
        run: ct lint --charts "$_CHART_PATH"
