name: Release
run-name: Release - ${{ inputs.release_mode }}

on:
  workflow_dispatch:
    inputs:
      release_mode:
        description: "Release Mode"
        default: "Standard Release"
        type: choice
        options:
          - Standard Release
          - Dry Run

jobs:
  release:
    name: Release Helm chart
    runs-on: ubuntu-22.04
    environment: Production
    permissions:
      actions: read
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Get Azure Key Vault secrets
        id: get-kv-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: gh-org-bitwarden
          secrets: "BW-GHAPP-ID,BW-GHAPP-KEY"
	  
      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "bitwarden-ci"
          secrets: "github-gpg-private-key, github-gpg-private-key-passphrase"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main
	
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
	with:
          gpg_private_key: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key }}
          passphrase: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key-passphrase }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Generate GH App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-ID }}
          private-key: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-KEY }}
          permission-contents: write

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: main
          token:  ${{ steps.app-token.outputs.token }}

      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Setup git
        run: |
          #git config --local user.name "bw-ghapp[bot]"
          #git config --local user.email "178206702+bw-ghapp[bot]@users.noreply.github.com"
	  
          git config --local user.email "106330231+bitwarden-devops-bot@users.noreply.github.com"
          git config --local user.name "bitwarden-devops-bot"

      - name: Set up Helm
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v4.0.0

      - name: Download Helm chart artifact - Self Host
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          branch: main
          path: .cr-release-packages
          workflow: self-host.yml
          workflow_conclusion: success

      - name: Download Helm chart artifact - SM Operator
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          branch: main
          path: .cr-release-packages
          workflow: sm-operator.yml
          workflow_conclusion: success

      - name: Release Helm chart
        if: ${{ github.event.inputs.release_mode != 'Dry Run' }}
        env:
          CR_GENERATE_RELEASE_NOTES: false
          CR_RELEASE_NOTES_FILE: CHANGELOG.md # Relative path to use chart specific CHANGELOG.md from respective chart directory
          CR_MAKE_RELEASE_LATEST: true
          CR_SKIP_EXISTING: true
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: helm/chart-releaser-action@be16258da8010256c6e82849661221415f031968 # v1.5.0
        with:
          skip_packaging: true
