# This workflow is intended to be run when we need to test the helm charts on the PR target.
# This workflow will run in the context of the target of the PR and have access to secrets.
# This should only be done after reviewing the PR to ensure that no malicious code has been introduced,
# as it could allow the code on the forked branch to have access to workflow secrets. 

name: Test Helm Charts on PR Target

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - 'charts/**'
      - '!*.md'
      - '!*.txt'
      - '.github/workflows/tests.yml'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  check-run:
    name: Check PR run
    uses: bitwarden/gh-actions/.github/workflows/check-run.yml@main

  run-workflow:
    permissions:
      contents: read
      id-token: write
    name: Test Helm Charts
    needs: check-run
    if: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
    uses: ./.github/workflows/tests.yml
    secrets: inherit
