name: Tests

on:
  pull_request:
    paths:
      - "charts/**"
  push:
    branches:
      - main
    paths:
      - "charts/**"
  workflow_dispatch:
    inputs: {}
  workflow_call:
    inputs: {}

permissions:
  contents: read

jobs:
  validate:
    name: Kubernetes API validation
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.sha || github.ref }}
          persist-credentials: false

      - name: Set up Helm
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - name: Install Kubepug
        run: |
          KUBEPUG_VERSION=$(curl -L --silent "https://api.github.com/repos/rikatz/kubepug/releases/latest" | jq -r .tag_name)
          wget -q "https://github.com/rikatz/kubepug/releases/download/$KUBEPUG_VERSION/kubepug_linux_amd64.tar.gz"

          # Extract and setup binary in path
          tar -xf kubepug_linux_amd64.tar.gz
          mv kubepug /usr/local/bin
          chmod +x /usr/local/bin/kubepug

      - name: Kubepug test
        run: |
          # Get last three stable versions
          VERSIONS=$(curl -L --silent "https://api.github.com/repos/kubernetes/kubernetes/releases" | jq -r '[.[] | select(.prerelease == false) | .tag_name] | .[0:3] | @json')

          # Test each chart with the last three stable versions
          echo "$VERSIONS" | jq -r '.[]' | while read -r version; do
            find charts -mindepth 1 -maxdepth 1 -type d | while read -r chart; do
              echo "Testing chart: $chart with Kubernetes version: $version"
              helm template "$chart" --values "$chart/ci/test-values.yaml" --api-versions "$version" \
                | kubepug --error-on-deprecated --error-on-deleted --k8s-version "$version" --input-file /dev/stdin
            done
          done

  test:
    name: Test Helm charts
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.sha || github.ref }}
          persist-credentials: false

      - name: Set up Helm
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - name: Set up lynx
        run: sudo apt install lynx

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
        with:
          yamale_version: "6.0.0"

      - name: Run chart-testing (list-changed)
        id: list-changed
        env:
          _DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
        run: |
          CHANGED=$(ct list-changed --target-branch "${_DEFAULT_BRANCH}")
          if [[ -n "$CHANGED" ]]; then
            {
              echo "changed=true"
              echo "changed-list<<EOF"
              echo "$CHANGED"
              echo "EOF"
            } >> "$GITHUB_OUTPUT"
          fi

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          config: scripts/cluster.yaml

      - name: Set up cluster
        if: steps.list-changed.outputs.changed == 'true'
        run: ./scripts/setup.sh setup-cluster

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        env:
          _DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
        run: ct install --target-branch "${_DEFAULT_BRANCH}" --skip-clean-up --namespace bitwarden

      - name: Test install (self-host)
        if: steps.list-changed.outputs.changed == 'true' && contains(steps.list-changed.outputs.changed-list,'self-host')
        run: |
          #For review purposes
          echo "*****DEPLOYMENTS*****"
          kubectl get deployments
          echo "*****PODS*****"
          kubectl get pods
          echo "*****SERVICES*****"
          kubectl get svc
          echo "*****JOBS*****"
          kubectl get jobs
          echo "*****INGRESS*****"
          kubectl describe ingress

          echo "*****HOME*****"
          home=$(curl -Ls https://bitwarden.localhost -w httpcode=%{http_code} --cacert rootCA.pem)
          echo "$home" | lynx -stdin -dump -width=100
          httpCode=$(echo "${home}" | grep -Po 'httpcode=\K(\d\d\d)')
          bodyCheck=$(echo "${home}" | grep -Pio 'Bitwarden Web Vault')
          if [[ ${httpCode} -ne 200 ]]; then
            echo "::error::ERROR: Home page failed to load.  HTTP code was $httpCode"
            exit 1
          fi
          if [[ "${bodyCheck,,}" != "bitwarden web vault" ]]; then
            echo "::error::ERROR: Home page failed to load.  Please check body output above."
            exit 1
          fi

          echo "Home OK."

          echo "*****API/CONFIG*****"
          config=$(curl -Ls https://bitwarden.localhost/api/config -w httpcode=%{http_code} --cacert rootCA.pem)
          echo "$config" | lynx -stdin -dump -width=100
          httpCode=$(echo "${config}" | grep -Po 'httpcode=\K(\d\d\d)')
          bodyCheck=$(echo "${config}" | grep -Po '\"vault\":\"https://bitwarden\.localhost\"')
          if [[ ${httpCode} -ne 200 ]]; then
            echo "::error::ERROR: Home page failed to load.  HTTP code was $httpCode"
            exit 1
          fi
          if [[ "$bodyCheck" != '"vault":"https://bitwarden.localhost"' ]]; then
            echo "::error::ERROR: API/Config page failed to load.  Please check body output above."
            exit 1
          fi

          echo "API/Config OK."

          echo "*****ADMIN*****"
          admin=$(curl -Ls https://bitwarden.localhost/admin -w httpcode=%{http_code} --cacert rootCA.pem)
          echo "$admin" | lynx -stdin -dump -width=100

          httpCode=$(echo "${admin}" | grep -Po 'httpcode=\K(\d\d\d)')
          bodyCheck=$(echo "${admin}" | grep -Po "We'll email you a secure login link")
          if [[ ${httpCode} -ne 200 ]]; then
            echo "::error::ERROR: Home page failed to load.  HTTP code was $httpCode"
            exit 1
          fi
          if [[ "$bodyCheck" != "We'll email you a secure login link" ]]; then
            echo "::error::ERROR: Admin page failed to load.  Please check body output above."
            exit 1
          fi

          echo "Admin OK."

      - name: Log in to Azure
        if: steps.list-changed.outputs.changed == 'true' && contains(steps.list-changed.outputs.changed-list,'sm-operator')
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve secrets
        id: retrieve-secrets
        if: steps.list-changed.outputs.changed == 'true' && contains(steps.list-changed.outputs.changed-list,'sm-operator')
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "gh-helm-charts"
          secrets: "helm-sm-operator-ci-test-access-token"

      - name: Log out from Azure
        if: steps.list-changed.outputs.changed == 'true' && contains(steps.list-changed.outputs.changed-list,'sm-operator')
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Test install (sm-operator)
        if: steps.list-changed.outputs.changed == 'true' && contains(steps.list-changed.outputs.changed-list,'sm-operator')
        run: |
          #For review purposes
          echo "*****DEPLOYMENTS*****"
          kubectl get deployments

          echo "*****PODS*****"
          pods=$(kubectl get pods -l app.kubernetes.io/name=sm-operator | grep 1/1)
          echo "$pods"

          if [[ -z "$pods" ]]; then
            echo "::error::No pods found."
            exit 1
          fi

          echo "*****VERIFYING CUSTOM LABELS*****"

          # Array of resource types to check for custom labels
          resource_types=("deployment" "service" "serviceaccount" "configmap")
          failed_resources=()

          # Loop through each resource type and verify custom labels
          for resource_type in "${resource_types[@]}"; do
            echo "Checking $resource_type for custom labels..."
            labels=$(kubectl get "$resource_type" -l app.kubernetes.io/name=sm-operator -o jsonpath='{.items[0].metadata.labels}')
            echo "$resource_type labels: $labels"

            if ! echo "$labels" | grep -q "test-label"; then
              echo "::error::Custom label 'test-label' not found on $resource_type."
              failed_resources+=("$resource_type")
            fi
          done

          # Exit if any resources failed the check
          if [ ${#failed_resources[@]} -gt 0 ]; then
            echo "::error::Custom labels verification failed for: ${failed_resources[*]}"
            exit 1
          fi

          echo "Custom labels verified successfully on all resources!"

          echo "*****CREATING AUTH SECRET*****"
          kubectl create secret generic bw-auth-token -n bitwarden --from-literal=token="$AUTH_TOKEN"
          echo "*****CREATING BW SECRET*****"
          kubectl apply -f .github/config/sample-bw-secret.yaml

          # Sleeping while BitwardenSecret is being created and synced
          sleep 2s

          echo "*****LOGS*****"
          logs=$(kubectl logs -l app.kubernetes.io/name=sm-operator -c manager)
          echo "$logs"

          completed=$(echo "$logs"| grep "Completed sync for bitwarden/bitwardensecret-sample")

          if [[ -z "$completed" ]]; then
            echo "::error::Secret did not sync."
            exit 1
          fi

          # Sleeping to ensure everything completes
          sleep 2s


          echo "*****RESULTING SECRETS*****"
          secrets=$(kubectl get secrets)
          echo "$secrets"

          secretCreated=$(echo "$secrets" | grep -Po "bw-sample-secret\s+Opaque\s+3")

          if [[ -z "$secretCreated" ]]; then
            echo "::error::Secret not created correctly."
            exit 1
          fi

          echo "*****OPERATOR OK*****"
        env:
          AUTH_TOKEN: ${{ steps.retrieve-secrets.outputs.helm-sm-operator-ci-test-access-token }}

      - name: Clean-up
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm ls --all --short | xargs -L1 helm delete
          kubectl delete ns bitwarden
          kind delete cluster
