name: Update Versions - SM Operator

on:
  workflow_dispatch:

env:
  _BRANCH: main
  _BOT_NAME: "bw-ghapp[bot]"
  _BOT_EMAIL: "178206702+bw-ghapp[bot]@users.noreply.github.com"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    outputs:
      operator_version: ${{ steps.operator-update.outputs.version }}
      operator_version_update: ${{ steps.operator-update.outputs.update }}
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env._BRANCH }}
          persist-credentials: false

      - name: Get Latest Operator Version
        id: get-operator-version
        uses: bitwarden/gh-actions/get-release-version@main
        with:
          repository: bitwarden/sm-kubernetes
          trim: true

      - name: Check if operator needs updating
        id: operator-update
        env:
          LATEST_OPERATOR_VERSION: ${{ steps.get-operator-version.outputs.version }}
        run: |
          OPERATOR_VERSION=$(sed -nE 's/^appVersion:\s+([^\s]+)/\1/p' Chart.yaml)

          echo "Operator Version: $OPERATOR_VERSION"
          echo "Latest Operator Version: $LATEST_OPERATOR_VERSION"
          if [ "$OPERATOR_VERSION" != "$LATEST_OPERATOR_VERSION" ]; then
            echo "Needs Operator update!"
            echo "update=1" >> "$GITHUB_OUTPUT"
            echo "version=$LATEST_OPERATOR_VERSION" >> "$GITHUB_OUTPUT"
          else
            echo "update=0" >> "$GITHUB_OUTPUT"
          fi
        working-directory: charts/sm-operator

  update-versions:
    name: "Update Versions"
    if: needs.setup.outputs.operator_version_update == 1
    runs-on: ubuntu-22.04
    needs: setup
    permissions:
      id-token: write
    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Get Azure Key Vault secrets
        id: get-kv-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: gh-org-bitwarden
          secrets: "BW-GHAPP-ID,BW-GHAPP-KEY"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Generate GH App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-ID }}
          private-key: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-KEY }}
          permission-contents: write
          permission-pull-requests: write

      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env._BRANCH }}
          token:  ${{ steps.app-token.outputs.token }}
          persist-credentials: true

      - name: Create Update Versions Branch
        run: |
          PR_BRANCH=update-versions-$GITHUB_RUN_ID
          echo "PR_BRANCH=$PR_BRANCH" >> "$GITHUB_ENV"
          git switch -c "$PR_BRANCH"
          git push -u origin "$PR_BRANCH"

      - name: Checkout Update Versions Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env.PR_BRANCH }}
          token:  ${{ steps.app-token.outputs.token }}
          persist-credentials: true

      - name: Update Chart appVersion
        env:
          VERSION: ${{ needs.setup.outputs.operator_version }}
        run: "sed -i -e 's/appVersion:.*/appVersion: '$VERSION'/' Chart.yaml"
        working-directory: charts/sm-operator

      - name: Commit updated files
        run: |
          git config --local user.name "$_BOT_NAME"
          git config --local user.email "$_BOT_EMAIL"
          git commit -m "Updated operator version" -a

      - name: Push changes
        run: git push -u origin "$PR_BRANCH"

      - name: Create Update Versions PR
        env:
          GITHUB_TOKEN:  ${{ steps.app-token.outputs.token }}
          BASE_BRANCH: ${{ env._BRANCH }}
          TITLE: "Update operator version"
        run: |
          gh pr create --title "$TITLE" \
            --base "$BASE_BRANCH" \
            --head "$PR_BRANCH" \
            --label "automated pr" \
            --body "
              ## Type of change
              - [ ] Bug fix
              - [ ] New feature development
              - [ ] Tech debt (refactoring, code cleanup, dependency upgrades, etc)
              - [ ] Build/deploy pipeline
              - [X] Other

              ## Objective
              Automated version update to appVersion in charts/sm-operator/Chart.yaml"
